$main: #f59946;
$main-dark:#954b08;
$secondary: #fcf9f4;
$third:#564741;
$gray: #e8e8e8;
$main-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.7) 0%,
  rgba(0, 0, 0, 0.4) 100%
);
$text: #564741;
